/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
}

header{
    width: 50vw;
    display: flex;
    justify-content:center;
}

.image{
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

/*Sessão Title*/
/* section.title{
    background-color: aquamarine;
    padding: 2vh 2vw;
}

.title__div{
    background-color: rgb(183, 255, 0);
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
    padding: 2vh 2vw;

}

.title__container{
    text-align:start;
    text-wrap:balance;
    width: 60%;
}

.title__bio{
    font-size: xx-large;
} */
/*Sessão About*/

section.about{
    
    padding: 1vh 1vw;
}

.about__container{
    /* background-color: aqua; */
    padding: 1vh 3vw;
}
/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

.all > *{
    margin: 1vh 3vw;
}

/*Menu*/


.menu__list{
    display:none;
}

header{

    background-color: blueviolet;
    /* justify-content:center; */
    gap: 4vw;
    align-items: center;
    font-size: small;
    width: 100vw;
}

.image{
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

/*Titulo*/

section.title{
    padding: 1vh 2vw;
    background-color: aqua;
    display: flex;
}
.title__profile{
    height: 20vh;
    padding: 1vh 0;
}

.title__bio{
    font-size: x-large;
    text-wrap:balance;
    text-align: start;
    padding: 1vh 0;
} 

.title__container{
    font-size: small;
    text-wrap: balance;
    text-align: start;
    display: flex;
    flex-direction: column;
}

.title__container > *{
    margin: 1vh 0;
    background-color: rgb(129, 129, 210);
}

.title__network{
    display: flex;
    font-size: medium;
    justify-content: space-between;
}

/*Sessão sobre*/

section.about{
    padding: 1vh 2vw;
    background-color: rgb(9, 231, 5);
    font-size: small;
}

.about__container > *{
    background-color: rgb(231, 5, 114);
    margin: 1vh 0;
}

.about__title{
    font-size: x-large;
}

/*Skills & Hobbies*/

.skills,
.hobbies{
    background-color: rgb(174, 223, 223);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.skills__title,.hobbies__title{
    font-size: x-large;
    margin: 1vh 0;
}

.skills__line, .hobbies__line{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh 5vw;
    padding: 1vh 2vw;
}

.skills__line > *, .hobbies__line > *{
    padding: 3vh 2vw;
    justify-content: start ;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: end;
    height: 140px;
    width: 130px;
    
}

.skills__img >*, .hobbies__img{
    height: 6vh;
    margin: 1vh 0;
}

/*Formação Acadêmica*/

section.academic{
    background-color: coral;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.academic__title{
    font-size: xx-large;
    margin: 3vh 0;
}

.academic__courses{
    display:flex;
    /* flex-wrap: wrap; */
    flex-direction: column;;
    align-items: center;
    justify-content: center;
    gap: 2vh 5vw;
    padding: 1vh 2vw;
}

.academic__courses__box{
    margin: 1vh 3vw;
    background-color: #F5F5F5;
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__courses__list> *{
    margin: 1vh 0;
    align-self: center;
    background-color: rgb(180, 180, 230);
}

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
